<p style="color: green"><%= notice %></p>

<h1>Orgs</h1>

<div id="orgs">
  <% @orgs.each do |org| %>
    <%= render org %>
    <p>
      <%= link_to "Show this org", org %>
    </p>
  <% end %>
</div>

<%= link_to "New org", new_org_path %>
